/* Components Imports */
@import './components/icons';
@import './components/inputs';


* {
    outline: none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Open Sans", "Helvetica Neue", sans-serif; }
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;

    &.light {
        font-weight: lighter;
    }
}

.cdk-overlay-backdrop {
    background-color: rgba( 102, 16, 242, .05 );
}