<section class="row">
    <div class="col-12 my-5 text-center">
        <h2>Wellcome to your recipes finder</h2>
        <h4 class="light mt-4">Find delicious breakfast, meals, dinner,<br>to share special moments with your family or friends</h4>
        <form class="row mt-5 align-items-center justify-content-center" [formGroup]="recipesSearchForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="col-10" appearance="outline">
                <mat-label>Search by one o more ingredients</mat-label>
                <input matInput type="text" placeholder="For more than one ingredient please write separated by a comma" name="ingredients" formControlName="ingredients">
            </mat-form-field>        
            <button mat-icon-button color="accent" type="submit"><mat-icon matSuffix>search</mat-icon></button>
        </form>
    </div>
    <div class="col-12 my-5">
        <h3 class="text-center">Featured Recipes</h3>
        <ul class="recipes-featured-list row">
            <mat-card class="card col-4" *ngFor="let recipe of recipes.results">
                <img mat-card-image src="{{ recipe.thumbnail }}" alt="{{ recipe.title }}">
                <mat-card-header>
                    <mat-card-title>{{ recipe.title }}</mat-card-title>
                    <mat-card-subtitle>{{ recipe.title }}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </ul>
    </div>
</section>